<table border="0" cellpadding="0" cellspacing="0" align="center" style="
                                                                        background-color: #f5f5f5;
                                                                        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
                                                                        width: 620px;">
  <tbody>
    <tr>
      <td colspan="3">
        <div class="header" style="font-size: 3em;
                                   text-align: center;
                                   color: grey;
                                   padding-bottom: 0.5em;
                                   padding-top: 0.5em;
                                   "><%= link_to "PMON", root_url, style: "color: #0084b4;" %>
        </div>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td style="padding: 8px;
                line-height: 20px;
                text-align: left;
                vertical-align: top;
                border-top: 1px solid #dddddd;
                 ">Tytuł aukcji</td>
      <td style="padding: 8px;
                line-height: 20px;
                text-align: left;
                vertical-align: top;
                border-top: 1px solid #dddddd;
                 ">Kup teraz</td>
      <td style="padding: 8px;
                line-height: 20px;
                text-align: left;
                vertical-align: top;
                border-top: 1px solid #dddddd;
                text-align: center;">Licytacja</td>
    </tr>
    <% @auctions.each do |auction|%>
        <tr style="line-height: 1.5em;">
          <td style="padding: 5px;
                     text-align: left;
                     vertical-align: top;
                     border-top: 1px solid #dddddd;">
            <a href="http://www.allegro.pl/i<%= auction.auction_id %>.html" 
            style="text-decoration: none;
                   color: #0084b4;"target="_blank"><%= auction.name %></a>
          </td>
          <td style="width: 5em;
                     padding: 5px;
                     text-align: left;
                     vertical-align: top;
                     border-top: 1px solid #dddddd;">
                      <%= "#{auction.price_buy} zł" if auction.price_buy>0 %></td>
          <td style="width: 5em;
                     padding: 5px;
                     text-align: left;
                     vertical-align: top;
                     border-top: 1px solid #dddddd;">
                    <%= "#{auction.price_atm} zł" if auction.price_atm>0 %></td>
        </tr> 
    <% end %>
  </tbody>
  <tbody>
    <tr>
      <td colspan="3">
        <div class="footer" style="font-size: 0.75em;
                                   margin: 2em 0em 0em 0em;
                                   border-top-color: #ddd;
                                   border-top-style: solid;
                                   border-top-width: 1px;
                                   background-color: #eee;
                                   color: #777;
                                   line-height: 2.25em;
                                   width: 100%;
                                   text-align: center;">
          <%= render 'footer' %>
        </div>
      </td>
    </tr>
  </tbody>
</table>