  <div>
    <%= form_for(current_user) do |f| %>
      
      <%= f.label :password, "Poprzednie hasło" %>
      <%= f.password_field :password %>

      <%= f.label :password_new, "Nowe hasło" %>
      <%= f.password_field :password_new %>

      <%= f.label :password_confirmation_new, "Powtórz nowe hasło" %>
      <%= f.password_field :password_confirmation_new %>

      <%= f.submit "Zapisz zmiany", class: "btn btn-large" %>
    <% end %>
  </div>