<%= form_for(:look_for, url: user_looks_path(current_user, @new_look), class: "form-horizontal" ) do |f| %>
 <div class="form-horizontal">
    <%= f.text_field :search_string, placeholder: "Szukam..", class: "span7" %>
    <%= f.text_field :search_price_from, placeholder: "Cena od:", class: "span2" %>
    <%= f.text_field :search_price_to, placeholder: "Cena do:", class: "span2" %>
    <%= f.submit "Sledz", class: "btn" %>
  </div>
<% end %>