<div class="container-fluid">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <%= link_to 'AllWatch', root_path, class: 'brand' %>
      <ul class="nav">
        <li class="<%=is_active('home')%>"><%= link_to 'Główna', root_path %></li>
        <li class="<%=is_active('about')%>"><%= link_to 'Co to?', blog_about_path %></li>
        <% if is_admin? %>
          <li class="<%=is_active('admin')%>"><%= link_to 'admin', admin_index_path %></li>
        <% end %>
      </ul>
      <div class="break"></div>
      <% if signed_in? %>
        <div class="btn-group pull-right">
          <a href="<%= edit_user_path(current_user) %>" class="normal_links"><button class="btn">Opcje</button></a>
          <%= link_to signout_path, method: "delete", class: "normal_links" do %>
            <button class="btn">Wyloguj</button>
          <% end %>
        </div>
      <% else %>
        <a href="<%= signup_path %>" class="btn pull-right btn-link">Rejestracja</a>
        <%= form_for(:session, url: sessions_path, html: {class: "navbar-form pull-right"}) do |f| %>
          <%= f.text_field :email, placeholder: "Email", class: "span2" %>
          <%= f.password_field :password, placeholder: "Hasło", class: "span2" %>
          <%= f.submit "Zaloguj", class: "btn" %>
        <% end %>
      <% end%>
    </div>
  </div>
</div>